.driver-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  display: flex;
  flex-direction: column-reverse;
  align-self: center;
  border: 2px solid #ccc;
}

