<!-- ============================================================== -->
<!-- Rounds and Drivers Standings for each round tables -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="25" fxFlex.gt-md="35" fxFlex.gt-xs="100" fxFlex="100">
    <app-driver-standings></app-driver-standings>
  </div>
  <!-- column -->
  <div fxFlex.gt-lg="45" fxFlex.gt-md="35" fxFlex.gt-xs="100" fxFlex="100">
    <app-season-rounds></app-season-rounds>
  </div>
  <!-- column -->
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100">
    <app-driver-image></app-driver-image>
  </div>
  <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<!-- <div fxLayout="row wrap">
  <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="container">

      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="container">

      </div>
    </mat-card>
  </div>
</div> -->
