<!-- ============================================================== -->
<!-- Rounds and Drivers Standings for each round tables -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="65" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
    <app-season-rounds></app-season-rounds>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="35" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <app-driver-standings></app-driver-standings>
  </div>
  <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- Card column -->
  <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="container">
        <div>Driver image</div>
        <div class="fill"></div>
        <div>Driver info</div>
      </div><!--  -->
    </mat-card>
  </div>
  <!-- Card column -->
  <!-- Card column -->
  <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">

  </div>
</div>
