<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">

    <mat-card>
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>Rounds Season {{(season$ | async)}}</mat-card-title>
            <mat-card-subtitle>Ample Admin Vs Material Admin</mat-card-subtitle>
          </div>
          <!-- <div class="ml-auto">
            <ul class="list-inline">
              <li>
                <h6 class="text-success m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Ample</h6>
              </li>
              <li>
                <h6 class=" text-info m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Pixel</h6>
              </li>
            </ul>
          </div> -->
        </div>

        <div class="d-flex flex-wrap">
          <div>
            <!-- <pre>{{(allData$ | async) | json}}</pre> -->
            <!-- <general-table [columns]="columns" [data]="data">
            </general-table> -->

          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">

  </div>
  <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- Card column -->
  <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">

  </div>
  <!-- Card column -->
  <!-- Card column -->
  <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">



  </div>
</div>
